body {
    margin-top: 80px;
}
div {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
img {
    width: 30%;
    border: 4px white solid;
}
div img:nth-of-type(1) {
    position: absolute;
    right: 20px;
    transform: rotate(30deg);

}
div img:nth-of-type(2) {
    position: absolute;
    right: 40px;
    top: 300px;
    transform: rotate(40deg);
}
div img:nth-of-type(3) {
    position: absolute;
    top: 350px;
    left: 100px;
    transform: rotate(-30deg);
}
div img:nth-of-type(4) {
    position: absolute;
    top:280px;
    left: 300px;
    transform: rotate(15deg);
}
div img:nth-of-type(5) {
    position: absolute;
    left: 500px;
    transform: rotate(-60deg);
}
div img:nth-of-type(6) {
    position: absolute;
    left: 450px;
    top: 150px;
    transform: rotate(70deg);
}
div img:nth-of-type(7) {
    position: absolute;
    top: 250px;
    right: 350px;
    transform: rotate(-50deg);
}
div img:nth-of-type(8) {
    position: absolute;
    top: 100px;
    right: 280px;
    transform: rotate(45deg);
}
div img:nth-of-type(9) {
    position: absolute;
    right: 100px;
    transform: rotate(75deg);
}
div img:nth-of-type(10) {
    position: absolute;
    transform: rotate(-23deg);
}
/* 鼠标移动效果 */
div img:nth-of-type(1):hover,
div img:nth-of-type(2):hover,
div img:nth-of-type(3):hover,
div img:nth-of-type(4):hover,
div img:nth-of-type(5):hover,
div img:nth-of-type(6):hover,
div img:nth-of-type(7):hover,
div img:nth-of-type(8):hover,
div img:nth-of-type(9):hover,
div img:nth-of-type(10):hover {
    z-index: 10;
    transform: rotate(0deg) scale(1.5);
    transition: transform 600ms ease-in-out;
}